body {
	background-image: url(https://www.periodpropertystore.co.uk/images/marshalls-tile-stone-zanzibar-small-brick-mosaic-tiles-p1248-41562_image.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}